<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152869979546-qaut7rpk6c1tiv6soeti9mrgmnpaue8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152869979546-qaut7rpk6c1tiv6soeti9mrgmnpaue8m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152869979546-0ba010urqe9133dvbq7mb3f6foor4g2v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF40zAGdQz7FiCZBGDFDa7GueETaT1_sw</string>
	<key>GCM_SENDER_ID</key>
	<string>152869979546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.granthFlutter</string>
	<key>PROJECT_ID</key>
	<string>databiblio-df216</string>
	<key>STORAGE_BUCKET</key>
	<string>databiblio-df216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152869979546:ios:d6594be638c7d7e3eda623</string>
</dict>
</plist>